<div id="search_video_modal" class="modal hide fade" tabindex="-1" data-focus-on="input:first" style="display: none">
  <div class="modal-body">
    <%= form_tag videos_path, method: :get, remote: true do %>
      <%= text_field_tag :title %>
      <br/>
      <%= select_tag :category, options_for_select(Category.order(:name).map{|cat| cat.name}), {:include_blank => true} %>
      <br/>
      <%= submit_tag "Search!" %>
    <% end %>
    <div class="video_search_results_container">
      <!--  render "videos/video_search_results", :locals => { :videos => @videos }   -->
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
