




	

	<div class="demo_video">

		<div id="text-fade-container">
	    	<p class="tagline fleft">Youtube just got a little more </p>
			<div id="text-fade-content">
				<span>mustaches.</span>
				<span>fart clouds.</span>
				<span>stick figures.</span>
				<span>unibrows.</span>
	            <span>angry eyes.</span>
	            <span>lols.</span>
	            <span>squiggly smell lines.</span>
	            <span>crazy hats.</span>
	            <span>eye patches.</span>
	            <span>lightening bolts.</span>
	            <span>hearts.</span>
			</div>
			<div class="clear"></div>
		</div>


		<iframe width="853" height="480" src="//www.youtube.com/embed/sBWPCvdv8Bk?autoplay=1&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
	</div>



	
