<div class="dialog hidden" id="dialog_template">
	<div class="content"></div>
	<div class="pin_slider hidden">
		<div class="pin_slider_range"></div>
		<div class="slider_state">Start: <span class="start_time"></span> Stop: <span class="stop_time"></span></div>
	</div>
</div>