




<footer>

	<%= image_tag("rails-logo.png", height: "117px", id: "rails_logo", class: "fleft") %>

	<hgroup class="fright">
		<h4><span>©</span> <%= Time.now.strftime("%Y") %> Zombies on Rails - Alhambra, CA</h4>
		<h5>All rights reserved.</h5>
		
	</hgroup>
	<div class="clear"></div>

</footer>