

<nav id="global">
	<%= link_to "Home - Logo", root_path, {:class => 'btn'} %>
	<%= link_to "New Video", annotation_path, {:class => 'btn'} %>
    <%= link_to "Account", "#", {:class => 'btn'} %> 
    <%= link_to "Login", "#", {:class => 'btn'} %> 
	

</nav>
